.navbar {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    background-color: white;
}

.btns {
    display: flex;
    gap: 15px;
}

.btns a {
    
}